.main {
    overflow-y: auto;
    min-height: 330px;
    max-height: calc(100vh - 100px);
    margin: 5px;
    border-radius: 10px;

    background: -webkit-linear-gradient(90deg, hsla(0, 9%, 9%, 1) 63%, hsla(267, 99%, 27%, 1) 100%);

}

.title {
    color: var(--white);
    font-weight: 700;
    font-size: 32px;
}

.first-section {
    margin-top: 70px; /* Отступ, чтобы начать контент под Header */
}