.main-details {
    overflow-y: auto;
    min-height: 330px;
    max-height: calc(100vh - 100px);
    margin: 5px;
    border-radius: 10px;
    background: -webkit-linear-gradient(270deg, hsla(193, 67%, 56%, 1) 0%, hsla(195, 34%, 23%, 1) 33%, hsla(0, 0%, 4%, 1) 62%);
}

.playlist-info {
    margin-top: 70px;
    display: flex;
    gap: 20px;
}

.playlist-img {
    box-shadow: 0 4px 8px 8px rgba(34, 60, 80, 0.21);
}

.playlist-text-info .title {
    margin-top: 30px;
    font-size: 13px;
}

.playlist-text-info .playlist-name {
    margin-top: 30px;
    font-size: 82px;
    font-weight: 800;
    color: var(--white);
}

.stats {
    display: flex;
    gap: 5px;
    align-items: center;
}

.stats .username {
    color: var(--white);
    font-size: 12px;
    font-weight: bold;
}

.stats .inline-list {
    padding: 0;
    color: var(--white);
    font-size: 14px;
}

.stats .inline-list li {
    display: inline;
    margin-right: 10px;
}

.stats-ava {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}