.main-details {
    overflow-y: auto;
    min-height: 330px;
    max-height: calc(100vh - 100px);
    margin: 5px;
    border-radius: 10px;
    background: -webkit-linear-gradient(270deg, hsla(191, 83%, 33%, 1) 12%, hsla(240, 5%, 8%, 1) 45%);
}

.playlist-info {
    margin-top: 70px;
    display: flex;
    gap: 20px;
}

.playlist-img {
    box-shadow: 0 4px 8px 8px rgba(34, 60, 80, 0.21);
}

.playlist-text-info .title {
    margin-top: 30px;
    font-size: 13px;
}

.playlist-text-info .playlist-name {
    margin-top: 30px;
    font-size: 82px;
    font-weight: 800;
    color: var(--white);
}

.stats {
    display: flex;
    gap: 5px;
    align-items: center;
}

.stats .username {
    color: var(--white);
    font-size: 12px;
    font-weight: bold;
}

.stats .inline-list {
    padding: 0;
    color: var(--white);
    font-size: 14px;
}

.stats .inline-list li {
    display: inline;
    margin-right: 10px;
}

.stats-ava {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.songs {
    width: 75%;
    margin-top: 40px;
}

.play-btn {
    width: 64px;
    height: 64px;
    font-size: 64px;
    color: var(--limegreen);
    transition: transform 0.1s ease;
}

.play-btn:hover {
    transform: scale(1.1);
}

.dots {
    position: relative;
    display: inline-block;

    width: 32px;
    height: 32px;
    font-size: 32px;
    opacity: .7;
    color: var(--white);
    transition: transform, opacity 0.1s ease;
}

.dots .tooltiptext {
    font-size: 12px;
    width: 200px;
    visibility: hidden;
    background-color: var(--black);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity, visibility 0.3s;
}

.dots:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.dots:hover {
    opacity: 1;
    transform: scale(1.1);
}

.functions {
    display: flex;
    justify-content: space-between;
}

.play-btn-and-settings {
    display: flex;
    align-items: center;
    gap: 30px;
}

.list {
    display: flex;
    align-items: center;
    color: var(--white);
    gap: 5px;
    opacity: .6;
    font-size: 12px;
    transition: opacity .1s ease;
}

.list:hover {
    opacity: 1;
}

.song-table {
    width: 100%;
    margin-top: 30px;
    color: var(--white);
    opacity: 1;
    font-size: 12px;
}

.song-table table thead th:nth-child(1) {
    text-align: left;
    width: 20px;
}
.song-table table thead th:nth-child(2) {
    text-align: left;
    width: 30vw;
}
.song-table table thead th:nth-child(3) {
    text-align: left;
    width: 20vw;
}
.song-table table thead th:nth-child(4) {
    text-align: left;
    width: 20vw;
}

.sont-duration-icon {
    font-size: 15px;
}

hr {
    border: none;
    margin-top: 3px;
    border-top: 1px solid #ddd;
    opacity: .3;
}

table {
    border-collapse:collapse;
}

.img-name {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.song-text {
    opacity: .7;
}

.img-name img {
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

tbody td {
    padding: 5px 10px 5px 10px;
}

tbody tr {
    transition: background-color .3s ease;
}

tbody tr:hover {
    background-color: rgba(57, 55, 55, 0.95);
}

.no-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    color: var(--white);
}

.btn-like {
    font-size: 20px;
    color: var(--white);
    opacity: .8;
    text-decoration: none;
    transition: scale ease .1s;
}

.btn-like:hover {
    scale: 1.1;
    opacity: 1;
}

.btn-dislike {
    font-size: 20px;
    color: var(--limegreen);
    text-decoration: none;
    transition: scale ease .1s;
}

.btn-dislike:hover {
    scale: 1.1;
}